
<%= form_with scope: "deposit", url: "/operations/deposits" do |form| %>
  <% if deposit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>

      <ul>
        <% deposit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :account_number, style: "display: block" %>
    <%= form.number_field :account_number %>
  </div>
  
  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.submit "Deposit" %>
  </div> 
<% end %>
