
<%= form_with scope: "withdraw", url: "/operations/withdraws" do |form| %>
  <% if withdraw.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(withdraw.errors.count, "error") %> prohibited this withdraw from being saved:</h2>

      <ul>
        <% withdraw.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :account_number, style: "display: block" %>
    <%= form.number_field :account_number, value: current_account.account_number, disabled: true %>
  </div>
  
  <div>
    <%= form.label :amount, style: "display: block" %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>
  <div>
    <%= form.submit "Withdraw" %>
  </div> 
<% end %>
